<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />
  </head>
  <body class="bg-custom-green">
    <div class="w-full flex justify-center items-center min-h-screen">
      <div class="max-w-md mx-auto bg-white rounded-lg shadow-md p-6 mt-10">
        <p class="text-custom-pink mb-4">
          Welcome, I'm Chattie! How may I help you?
        </p>

        <!-- Help buttons -->
        <div class="flex flex-col space-y-2">
          <button
            class="option-button text-custom-dark-pink bg-gray-300 hover:bg-gray-400 rounded px-4 py-2"
            onclick="sendOption('Order Status')"
          >
            Check order status
          </button>
          <button
            class="option-button text-custom-dark-pink bg-gray-300 hover:bg-gray-400 rounded px-4 py-2"
            onclick="sendOption('Return Item')"
          >
            Return your item
          </button>
          <button
            class="option-button text-custom-dark-pink bg-gray-300 hover:bg-gray-400 rounded px-4 py-2"
            onclick="sendOption('Cancel Order')"
          >
            Cancel your order
          </button>
        </div>

        <!-- Conversation with Chattie -->
        <div
          id="chat-box"
          class="response mt-4 text-custom-pink h-48 overflow-y-auto border border-gray-300 rounded p-2"
        ></div>

        <!-- User input -->
        <div class="mt-4">
          <input
            type="text"
            id="user_input"
            placeholder="Type your message here..."
            class="border border-gray-300 rounded p-2 w-full"
          />
          <button
            onclick="sendMessage()"
            class="bg-custom-green text-white rounded px-4 py-2 mt-2 hover:bg-custom-pink w-full"
          >
            Send
          </button>
        </div>
      </div>
    </div>

    <!-- Link to the external JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
